
.wall[data-v-51334f] {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #444;
}
.floor[data-v-e2412f] {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
}
ul[data-v-3f524a] {
  display: flex;
  padding: 0;
  margin: 0;
}
.wall[data-v-3f524a] {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #444;
}